<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>审核流程</title>
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/Public.js"></script>
<script type="text/javascript" src="__JS__/winpop.js"></script>
<script>
$(document).ready(function() {
	$('#content #table .tr .del').click(function(event) {
		event.preventDefault();
		if (!confirm('确定要删除该数据吗？')) {
			return false;
		}
		var id=$(this).attr('href');
		if (id=='' || isNaN(id)) {
			wintq('ID参数不正确',3,1000,1,'');
			return false;
		}else {
			wintq('正在删除，请稍后...',4,1000,0,'');
			$.ajax({
				url:'__APP__/Flow/del/',
				dataType:'json',
				type:'POST',
				data:'post=ok&id='+id,
				success: function(data) {
					if (data.s=='ok') {
						wintq('删除成功',1,1500,0,'?');
					}else {
						wintq(data.s,3,1500,1,'');
					}
				}
			});
		}
	});
	$('#dely').click(function(event) {
		event.preventDefault();
		if (!confirm('确定要删除选择项吗？')) {
			return false;
		}
		var delid='';
		for (i=0; i<$('#table .delid').size(); i++) {
			if (!$('#table .delid').eq(i).attr('checked')==false) {
				delid=delid+$('#table .delid').eq(i).val()+',';
			}
		}
		if (delid=='') {
			wintq('请选中后再操作',2,1500,1,'');
		}else {
			wintq('正在删除，请稍后...',4,20000,0,'');
			$.ajax({
				url:'__APP__/User/in_user_del/',
				dataType:'JSON',
				type:'POST',
				data:'delid='+delid,
				success: function(data) {
					if (data.s=='ok') {
						wintq('删除成功',1,1500,0,'?');
					}else {
						wintq(data.s,3,1500,1,'');
					}
				}
			});
		}
	});
});
</script>
</head>
<body>
<div id="content">
	<h1>首页 > 权限管理 > 审核流程</h1>
    <h2>
    	<div class="h2_left">
            <a href="__APP__/Flow/flow_add/" class="add">新增</a>
            <a href="javascript:history.back();" class="Retreat">后退</a>
        </div>
        <div class="search">
        	<form action="__ACTION__" method="get">
        	<input type="text" name="keyword" class="text" value="<{$keyword}>" />
            <input type="submit" class="so" value="搜 索" />
            </form>
        </div>
    </h2>
    <div class="tableBox">
	    <table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:100%">
	    	<tr>
	            <th>权限编号</th>
	            <th>审核权限</th>
	            <th>审核流程</th>
	            <th>操作</th>
	        </tr>
	        <!--顶级数据-->
	        <volist name="volist" id="vo">
	        <tr class="tr <eq name="mod" value="1">tr2</eq>">
	            <td class="tc">{$vo.id}</td>
	            <td class="tc">{$vo.cost}</td>
	            <td class="tc">{$vo.role}</td>
	            <td class="tc fixed_w">
	            <!-- <a href="<{$vo.id}>" class="edit"><img src="__IMAGE__/edit.png" border="0" title="修改" /></a> -->
	            <a href="<{$vo.id}>" class="del oper">删除</a>
	            </td>
	        </tr>
	        </volist>
	    </table> 
    </div>
    <div id="page"></div>
</div>
</body>
</html>
