
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>签订公司：</span>
    <select  name="signcompany" <?php if(!empty($stencil['signcompany'])){ echo 'disabled'; }?> id="signcompany" class="pact_select" >
        <option value="0">请选择签订公司</option>
        <notempty name="stencil['signcompany']">
            <option value="{$stencil['signcompany']}" selected>{$stencil['signcompany']}</option>
        </notempty>
        <option value="北京东辉达科技有限公司">北京东辉达科技有限公司</option>
        <option value="北京去创创科技有限公司">北京去创创科技有限公司</option>
        <option value="北京融兴通远财务咨询有限公司">北京融兴通远财务咨询有限公司</option>
        <option value="北京创也江湖科技有限公司">北京创也江湖科技有限公司</option>  
    </select>
</li>
<div class="moban"></div>
<li class="xian">租赁房间信息</li>
<div id="zhucedizhi"></div>

<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>项目：</span>
    <notempty name="stencil['signcompany']">
            <input type="hidden" name="details_id" value="{$prod.id}">
    </notempty>
   
    <select  name="" <?php if(!empty($prod['class_name'])){ echo 'disabled'; }?> id="project"  class="pact_select" >
    <option value="">--请选择项目--</option>
        <foreach name="project" item="vo" >
            
            <if condition="$prod.class_name eq $vo.class_name ">
                <option value="{$vo.id}" selected="selected">{$vo.class_name}</option>
            <else /> 
                <option value="{$vo.id}">{$vo.class_name}</option>
            </if>
           
        </foreach>
        
    </select>
</li>

<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>地址：</span>
    <select  name="" <?php if(!empty($prod['class_name'])){ echo 'disabled'; }?> id="product" value="" class="pact_select" >
        <option value="0">请选择地址</option>
        <option value="{$prod.pro_address}" selected="selected">{$prod.pro_address}</option>
        
    </select>
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>房间号：</span>
    <select name="details_id" <?php if(!empty($prod['class_name'])){ echo 'disabled'; }?> class="pact_select" id="home">
        <option value="">请选择房间号</option>
        <option value="{$prod.detailscoll}" selected="selected">{$prod.detailscoll}</option>
    </select>
</li>

<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>建筑面积：</span>
    <input type="text" id="room_area" name="" value="{$prod.big_sum}" <?php if(!empty($prod['class_name'])){ echo 'disabled'; }?> class="pact_ipt" placeholder="平米">
</li>

<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>服务期限：</span>
    <input type="text" name="rentdatetime" value="{$matter.rentdatetime}" id="rentdatetime" class="pact_ipt" placeholder="年">
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>租赁日期：</span>
    <span class="timeBox">
        <input type="text" name="rentstarttime" value="{$matter.rentstarttime|date='Y年m月d日',###}" class="pact_ipt pact_ipt2" id="rentstarttime">
    </span>
    <span style="line-height: 40px;display: inline-block;">～</span>
    <span class="timeBox">
        <input type="text" name="rentendtime" value="{$matter.rentendtime|date='Y年m月d日',###}" class="pact_ipt pact_ipt2" id="rentendtime">
    </span>
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>商务服务费：</span>
    <input type="text" name="business" id="business" value="{$matter.business}" class="pact_ipt" placeholder="元（大写）">
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>是否含税：</span>
    <select  name="swistax" class="pact_select" >
        <option value="">是</option>
        <option value="">否</option>
    </select>
</li>
<!-- 分割线 -->

<li class="xian">房屋及付款方式</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>每周期前：</span>
    <input type="text" name="appoint" id="appoint" value="{$collection.appoint}" class="pact_ipt" placeholder="天">
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>付款方式：</span>
  <select  name="paytype" id="paytype" class="pact_select" >
   <notempty name="collection['paytype']">
             <option value="{$collection.paytype} " selected>{$collection.paytypehan}</option>
        </notempty>
        <option value="3,3">押三付三</option>
        <option value="2,6">押二付六</option>
        <option value="1,12">押一付十二</option>
        <option value="1,6">押一付六</option>
        <option value="2,3">押二付三</option>
        <option value="1,3">押一付三</option>
    </select>
</li>

<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>押金：</span>
    <input type="hidden" id="monthly_rent">
    <input type="text" name="deposit" id="deposit" value="{$collection.deposit}" class="pact_ipt" placeholder="元 （大写）">
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>年金额：</span>
    <input type="text" name="year_rent" id="year_rent" value="{$collection.year_rent}" class="pact_ipt" placeholder="元 （大写）">
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>每期金额：</span>
    <input type="text" name="each" id="each" value="{$collection.each}" class="pact_ipt" placeholder="元 （大写）">
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>第一次付款时间：</span>
    <input type="text" name="paynext1" id="paynext1" value="{$collection.paynext1|date='Y年m月d日',###}" class="pact_ipt" placeholder="第一次付款时间">
</li>
<div id="payment">
    <notempty name="collection.paynext2">
        <foreach name="collection.paynext2" item="vo" key="k" >
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>第{$k+2}次付款时间：</span>
                <input type="text" name="paynext2[]" id="paynext2" value="{$vo|date='Y年m月d日',###}" class="pact_ipt" placeholder="第一次付款时间">
            </li>
        </foreach>
    </notempty>
</div>
<script type="text/javascript">
    laydate.render({  
        elem: '#rentstarttime',  
        format: 'yyyy年MM月dd日', 
        done: function(value, date, endDate){
            endDateCallBack(value)
        }
    });
    laydate.render({  
            elem: '#paynext1',  
            format: 'yyyy年MM月dd日', 
            
        });
    $(document).on('change','#paytype',function(){
        ht_sk();
        
        moeny();
    })
</script>