
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>签订公司：</span>
    <select  name="signcompany" id="signcompany" class="pact_select" >
        <option value="0">请选择签订公司</option>
        <option value="北京东辉达科技有限公司">北京东辉达科技有限公司</option>
        <option value="北京去创创科技有限公司">北京去创创科技有限公司</option>
        <option value="北京融兴通远财务咨询有限公司">北京融兴通远财务咨询有限公司</option>
        <option value="北京创也江湖科技有限公司">北京创也江湖科技有限公司</option>  
    </select>
</li>
<div class="moban"></div>
<div id="zhucedizhi"></div>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>服务期限：</span>
    <input type="text" name="" value="" class="pact_ipt" placeholder="年">
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>租赁日期：</span>
    <span class="timeBox">
        <input type="text" name="" value="" class="pact_ipt pact_ipt2" id="rentstarttime">
        <div id="rentstar" style="left: 0px;top: 40px;"></div>
    </span>
    <span style="line-height: 40px;display: inline-block;">～</span>
    <span class="timeBox">
        <input type="text" name="" value="" class="pact_ipt pact_ipt2" id="rentendtime">
        <div id="rentend" style="left: 0px;top: 40px;"></div>
    </span>
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>商务服务费用：</span>
    <input type="text" name="" value="" class="pact_ipt" placeholder="元/月（大写）">
</li>
<li class="iptBox">
    <span class="ipt_left"><em class="red">*</em>是否含税：</span>
    <select  name="" class="pact_select" >
        <option value="">是</option>
        <option value="">否</option>
    </select>
</li>
<script type="text/javascript">
        laydate.render({  
            elem: '#rentstarttime',  
            format: 'yyyy年MM月dd日', 
            done: function(value, date, endDate){
                endDateCallBack(value)
            }
        });
</script>