<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>模板管理</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
    <link rel="csssheet" type="text/css" href="__CSS__/public.css"  />
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
    <script type="text/javascript" src="__JS__/winpop.js"></script>

</head>
<body>
<div id="content">
    <div class="topFix">
        <h1>首页 > 财务管理 > 模板管理</h1>
        <h2>
            <div class="h2_left">
                <a href="__APP__/Stencil/stencil_add" class="add">添加</a>
               
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </h2>

    </div>
    <div class="tableBox">
		<table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:100%">
            <tr>
                <th>编号</th>
                <th>模板名称</th>
                <th>添加时间</th>
                <th>业务员</th>
                <th>操作</th>
            </tr>
            <volist name="data" id="vo">
                <tr class="tr" value="1">
                    <td class="tc">{$vo.id}</td>
                    <td class="tc">{$vo.class_name}</td>
                    <td class="tc">{$vo.m_address}</td>
                    <td class="tc">{$vo.m_time|date='Y-m-d',###}</td>
                    <td class="tc fixed_w">
                        <a href="{$vo.id}" class="edit oper">修改</a>
                        <a href="{$vo.id}" class="del oper">删除</a>
                    </td>
                </tr>
            </volist>
        </table>	
	</div>	
    <div id="page">
        {$show}
    </div>
</div>
</body>
</html>