<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>东辉达财务系统</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
	<link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
	<script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript" src="__JS__/winpop.js"></script>
</head>
<body>
<div id="content" style="margin-top: 20px">
	<img src="__IMAGE__/fengmian.jpg" alt="" style="max-width:100%;">
</div>
</body>
</html>
