<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>渠道商管理</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
    <link rel="stylesheet" type="text/css" href="__CSS__/popwin.css"  />
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
    <script type="text/javascript" src="__JS__/winpop.js"></script>
    <script>
        // $(document).ready(function() {
        //     $('#content #table .tr .del2').click(function(event) {
        //         event.preventDefault();
        //         if (!confirm('确定要删除该数据吗？')) {
        //             return false;
        //         }
        //         var id=$(this).attr('href');
        //         console.log(id);
        //         if (id=='' || isNaN(id)) {
        //             wintq('ID参数不正确',3,1000,1,'');
        //             return false;
        //         }else {
        //             wintq('正在删除，请稍后...',4,20000,0,'');
        //             window.location.href='__APP__/Channel/channel_del/id/'+id;
        //         }
        //     });
        // }
    </script>
</head>
<body>
<div id="content">
    <div class="topFix">
        <h1>首页 > 客户管理 > 渠道商管理</h1>
        <h2>
            <div class="h2_left">
                <a href="__APP__/channel/channel_add" class="add">添加</a>
                <a href="javascript:history.back();" class="Retreat">后退</a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </h2>
        <div class="dgv">
            <div class="danyuan">
                <a href="javascript:;">中介</a>
                <a href="javascript:;">中间商</a>
                <a href="javascript:;">平台</a>
            </div>        
        </div>

    </div>
    <div class="tableBox">
		<table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:100%">
            <tr>
                <th>编号</th>
                <th>公司名称</th>
                <th>联系人</th>
                <th>联系方式</th>
                <th>办公地址</th>
                <th>成单总量</th>
                <th>新签量</th>
                <th>再租户数</th>
                <th>停租户数</th>
                <th>业务员</th>
                <th>操作</th>
            </tr>
            <volist name="volist" id="vo">
                <tr class="tr" value="1">
                    <td class="tc">{$vo.id}</td>
                    <td class="tc">{$vo.middle_name}</td>
                    <td class="tc">{$vo.middle_man}</td>
                    <td class="tc">{$vo.middle_tel}</td>
                    <td class="tc">{$vo.middle_address}</td>
                    <td class="tc">{$vo.cd}</td>
                    <td class="tc">{$vo.xq}</td>
                    <td class="tc">{$vo.zz}</td>
                    <td class="tc">{$vo.tz}</td>
                    <td class="tc">{$vo.real_name}</td>
                    <td class="tc fixed_w">
                        <div class="operation">更多
                            <div class="operarea">
                                <a href="__APP__/channel/channel_save/id/{$vo.id}" class="edit oper2">修改</a>
                                <a href="__APP__/channel/channel_del/id/{$vo.id}" class="del2 oper2">删除</a>
                                <a href="javascript:;" class="yladdr oper2">预留地址号</a>
                                <a href="javascript:;" class="seaddr oper2">查看预留</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </volist>
        </table>	
	</div>	
    <div id="page">
        
    </div>
</div>
<div class="popWinBox popWinBox1">
    <div class="popWin popWin1">
        <div style="padding:10px">
            <table class="popTable" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:100%">
                <tr>
                    <th>地址号</th>
                    <th>出合同</th>
                </tr>
                <tr class="tr">
                    <td class="tc"></td>
                    <td class="tc"></td>
                </tr>
            </table>
            
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.seaddr').click(function(){
        $('.popWinBox1').show();
        $('body').click(function(e) {
            var target = $(e.target);
            if(!target.is('.seaddr') && !target.is('.popWin1 *')) {
                if ( $('.popWinBox1').is(':visible') ) {
                    $('.popWinBox1').hide();
                }
            }
        })
    }) 
</script>
</body>
</html>