<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品修改</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
    <link rel="csssheet" type="text/css" href="__CSS__/public.css"  />
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/jquery.validate.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
    <script type="text/javascript" src="__JS__/winpop.js"></script>
</head>

<body>
<div id="content">
    <h1>首页 &gt; 产品管理 &gt; 项目管理 &gt;产品修改</h1>
    <h2>
        <div class="h2_left">
            <a href="javascript:history.back();" class="Retreat">后退</a>
        </div>
    </h2>
    <dl id="dl">
        <form method="post" action="__APP__/Project/project_save" id="add" onsubmit="return check()">
            <dd>
                <span class="dd_left">项目名称</span>
                <span class="dd_right"><input type="text" placeholder="输入如：新材料创业大厦" name="class_name" class="qtext  qtext_width" value="{$data.class_name}" style="width:360px;"/></span>
            </dd>
            <dd>
                <span class="dd_left">项目面积</span>
                <span class="dd_right"><input type="text" name="class_area" class="qtext" value="{$data.class_area}" style="width:360px;"/></span>
            </dd>
            <dd>
                <span class="dd_left">项目地址</span>
                <span class="dd_right"><textarea name="class_address" class="textarea textarea2" style="width:372px;">{$data.class_address}</textarea></span>
            </dd>
            <dd>
            <input type="hidden" value="{$data.id}" name="id">
            <input type="submit" class="button" value="提 交" /></dd>
            <div style="clear:both;"></div>
        </form>
    </dl>
</div>
</body>
<script type="text/javascript">
    function validform(){
        return $("#add").validate({
            rules : {
                class_name : {required : true},
                class_area : { required : true},
                class_address: { required : true}
            },
            messages :{
                class_name : {required : '不能为空'},
                class_area : { required : '不能为空'},
                class_address: {required : '不能为空'}
            }
        })
    }
    $(document).ready(function(){
        $(validform());
        $(".button").click(function(){
            if(validform().form()) {
                $("#add").submit();
            } else {
            //校验不通过，什么都不用做，校验信息已经正常显示在表单上
            }
        });

    })
</script>
</html>