<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>项目管理|</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
    <link rel="csssheet" type="text/css" href="__CSS__/public.css"  />
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
    <script type="text/javascript" src="__JS__/winpop.js"></script>

    <script>
        $(document).ready(function() {
            $('#content h2 .add').click(function() {
                popload('添加分类',800,300,'__APP__/Classify/Cate_add/');
                addDiv($('#iframe_pop'));
                popclose();
            });
            $('#content #table .tr .edit').click(function(event) {
                event.preventDefault();
                var id=$(this).attr('href');
                if (id=='' || isNaN(id)) {
                    wintq('ID参数不正确',3,1000,1,'');
                    return false;
                }else {
                    window.location.href='__APP__/project/product_detail_save/product_id/'+id;
                   
                }
            });
            $('#content #table .tr .del').click(function(event) {
                event.preventDefault();
               
                if (!confirm('确定要删除该数据吗？')) {
                    return false;
                }
                var id=$(this).attr('href');
                var class_id=$(this).attr('id');
             
                if (id=='' || isNaN(id)) {
                    wintq('ID参数不正确',3,1000,1,'');
                    return false;
                }else {
                    wintq('正在删除，请稍后...',4,20000,0,'');
                    window.location.href='__APP__/project/product_del/pid/'+id+'&class_id='+class_id;
                }
            });
            $('.operation').hover(function(){
                $(this).find('.operarea').toggle();
            })
        });
    </script>
</head>
<body>
<div id="content">
    <div class="topFix">
        <h1>首页 > 产品管理 > 项目管理 > 产品详情</h1>
        <h2>
            <div class="h2_left">
                <a href="__APP__/project/project_detail_add/class_id/{$class_id}" class="add">添加</a>
                <a href="javascript:history.back();" class="Retreat">后退</a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </h2>

    </div>
    <div class="tableBox">
		<table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:120%">
            <tr>
                <th>项目名称</th>
                <th>项目地址</th>
                <th>大面积</th>
                <th>小房间</th>
                <th>注册号</th>
                <th>工位</th>
                <th>操作</th>
            </tr>
            <volist name="volist" id="vo">
                <tr class="tr" value="1">
                    <td class="tc">{$vo.class_name}</td>
                    <td class="tc">{$vo.pro_address}</td>
                    <td class="tc"><div class="operation"><a href="__APP__/project/project_detail_bign/class_id/{$vo.id}" class="chakan oper">查看</a></div></div></td>
                    <td class="tc"><div class="operation"><a href="__APP__/project/project_detail_smln/class_id/{$vo.id}" class="chakan oper">查看</a></div></div></td>
                    <td class="tc"><div class="operation"><a href="__APP__/project/project_detail_adm/class_id/{$vo.id}" class="chakan oper">查看</a></div></div></td>
                    <td class="tc"><div class="operation"><a href="__APP__/project/project_detail_gw/class_id/{$vo.id}" class="chakan oper">查看</a></div></div></td>
                    <td class="tc fixed_w">
                        <a href="{$vo.id}" class="edit oper">修改</a>
                        <a href="{$vo.id}" id="{$vo.class_id}" class="del oper">删除</a>
                        <!-- <input type="hidden" val="{$vo.class_id}" name="classid" class="class1 oper" >     -->
                    </td>
                </tr>
            </volist>
        </table>	
	</div>	
    <div id="page">
        
    </div>
</div>
</body>
</html>