<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>项目管理|<{$configcache['Title']}></title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
    <link rel="csssheet" type="text/css" href="__CSS__/public.css"  />
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
    <script type="text/javascript" src="__JS__/winpop.js"></script>
    <script>
        $(document).ready(function() {
            $('#content h2 .add').click(function() {
                popload('添加分类',800,300,'__APP__/Classify/Cate_add/');
                addDiv($('#iframe_pop'));
                popclose();
            });
            $('#content #table .tr .edit').click(function(event) {
                event.preventDefault();
                var id=$(this).attr('href');
                if (id=='' || isNaN(id)) {
                    wintq('ID参数不正确',3,1000,1,'');
                    return false;
                }else {
                    popload('修改分类信息',800,300,'__APP__/Project/project_up/id/'+id);
                    addDiv($('#iframe_pop'));
                    popclose();
                }
            });
            $('#content #table .tr .del2').click(function(event) {
                event.preventDefault();
                if (!confirm('确定要删除该数据吗？')) {
                    return false;
                }
                 var id=$(this).attr('href');
                // console.log(id);
                if (id=='' || isNaN(id)) {
                    wintq('ID参数不正确',3,1000,1,'');
                    return false;
                }else {
                    wintq('正在删除，请稍后...',4,20000,0,'');
                    window.location.href='__APP__/Project/project_del/id/'+id;
                }
            });
        });
    </script>
</head>
<body>
<div id="content">
    <div class="topFix">
        <h1>首页 > 产品管理 > 项目管理</h1>
        <h2>
            <div class="h2_left">
                <a href="__ACTION__" class="whole">全部</a>
                <a href="__APP__/Project/project_add" class="add">添加</a>
                <a href="javascript:history.back();" class="Retreat">后退</a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </h2>

    </div>
    <div class="tableBox">
		<table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:100%">
            <tr>
                <th>编号</th>
                <th>项目名称</th>
                <th>地址</th>
                <th>面积</th>
                <th>操作</th>
            </tr>
            <volist name="volist" id="vo">
                <tr class="tr" value="1">
                    <td class="tc">{$vo.id}</td>
                    <td class="tc">{$vo.class_name}</td>
                    <td class="tc ts">{$vo.class_address}</td>
                    <td class="tc">{$vo.class_area}</td>
                    <td class="tc fixed_w">
                        <div class="operation">更多
                            <div class="operarea">
                                <a href="{$vo.id}" class="edit oper2">修改</a>
                                <a href="{$vo.id}" class="see oper2">详情</a>
                                <a href="{$vo.id}" class="del2 oper2">删除</a>
                            </div>
                        </div>
                        
                    </td>
                </tr>
            </volist>
        </table>	
	</div>	
    <div id="page">
        
    </div>
</div>
</body>
</html>