<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>项目管理|<{$configcache['Title']}></title>
    <link rel="stylesheet" type="text/css" href="../css/content.css"  />
    <link rel="csssheet" type="text/css" href="../css/public.css"  />
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/Public.js"></script>
    <style type="text/css">
        .jia1,.jian,.jia2{border: 1px solid #e6e6e6;font-size: 14px;display: block;width:30px;height:38px;float: left;text-align: center;line-height: 38px;cursor: pointer;margin-left: 10px;}
    </style>
</head>
<body>
<div id="content">
    <h1>首页 &gt; 产品管理 &gt; 项目管理 &gt;产品详情添加</h1>
    <h2>
        <div class="h2_left">
            <a href="javascript:history.back();" class="Retreat">后退</a>
        </div>
    </h2>
    <form method="post" action="<{:U('Classify/Cateadd_do')}>" id="add">
        <dl id="dl">
            <dd>
                <span class="dd_left">注册地址</span>
                <span class="dd_right"><input type="text" placeholder="输入如：新材料创业大厦" name="classname" class="qtext  qtext_width" value="" style="width:360px;"/></span>
            </dd>
            <dd>
                <span class="dd_left">普通注册号</span>
                <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:360px;"/></span>
            </dd>
            <dd>
                <span class="dd_left">销售注册号</span>
                <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:360px;"/></textarea></span>
            </dd>
            <div class="jjarea">
                <dd>
                    <span class="dd_left">大面积房间号</span>
                    <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:230px;"/></textarea></span>
                    <span class="dd_left" style="width:60px;">房间面积</span>
                    <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:230px;"/></textarea></span> 
                    <input type="button" value="+" class="jia1">
                </dd>
                <dd>
                    <span class="dd_left">小房间号</span>
                    <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:230px;"/></textarea></span>
                    <span class="dd_left" style="width:60px;">房间面积</span>
                    <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:230px;"/></textarea></span> 
                    <input type="button" value="+" class="jia2">
                </dd>
            </div>
            <dd>
                <span class="dd_left">工位</span>
                <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:360px;"/></textarea></span>
            </dd>
            <dd><input type="submit" class="button" value="提 交" /></dd>
            <div class="clear"></div>
        </dl>
    </form>
    <div style="display: none;" class="more_data">
        <dd>
            <span class="dd_left">大面积房间号</span>
            <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:230px;"/></textarea></span>
            <span class="dd_left" style="width:60px;">房间面积</span>
            <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:230px;"/></textarea></span> 
            <input type="button" value="+" class="jia1">
            <input type="button" value="-" class="jian">
        </dd>
    </div>
    <div style="display: none;" class="more_data2">
        <dd>
            <span class="dd_left">小房间号</span>
            <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:230px;"/></textarea></span>
            <span class="dd_left" style="width:60px;">房间面积</span>
            <span class="dd_right"><input type="text" name="area" class="qtext" value="" style="width:230px;"/></textarea></span> 
            <input type="button" value="+" class="jia2">
            <input type="button" value="-" class="jian">
        </dd>
    </div>
</div>
<script type="text/javascript">
    $(document).on('click','.jia1',function(){
        var html = $('.more_data').find('dd').clone();
        $(this).parent().after(html);   
    })
    $(document).on('click','.jia2',function(){
        var html = $('.more_data2').find('dd').clone();
        $(this).parent().after(html);   
    })
    $(document).on('click','.jian',function(){
        $(this).parent().remove();
    })
</script>
</body>
</html>