<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>项目管理</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
</head>
<body>
<div id="content">
    <div class="topFix">
        <h1>首页 > 产品管理 > 项目管理 > 产品详情> 大面积(已使用)</h1>
        <h2>
            <div class="h2_left">

                <a href="__APP__/project/project_detail_bign/class_id/{$class_id}" class="add" title="切换未使用">未使用</a>
                <a href="javascript:history.back();" class="Retreat">后退</a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </h2>

    </div>
    <div class="tableBox">
		<table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:150%">
            <tr>
                <th>房间号</th>
                <th>公司名称</th>
                <th>面积</th>
                <th>付款方式</th>
                <th>租赁日期</th>
                <th>房租/管理费</th>
                <th>法人姓名</th>
                <th>法人电话</th>
                <th>纳税形式</th>
                <th>信用代码</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="vo">
                <tr class="tr" value="1">
                    <td class="tc">{$vo.detailscoll}</td>
                    <td class="tc">{$vo.client_name}</td>
                    <td class="tc">{$vo.big_sum}</td>
                    <td class="tc">{$vo.paytype}</td>
                    <td class="tc">{$vo.rentstarttime|date='Y-m-d',###}--{$vo.rentendtime|date='Y-m-d',###}</td>
                    <td class="tc">{$vo.rates}</td>
                    <td class="tc">{$vo.legalperson}</td>
                    <td class="tc">{$vo.legaltel}</td>
                    <td class="tc">{$vo.taxstyle}</td>
                    <td class="tc">{$vo.credit_code}</td>
                    <td class="tc fixed_w">
                        <!-- <a href="" class="edit oper">修改</a> -->
                        <a href="__APP__/project/project_big_del/class_id/{$class_id}/id/{$vo.id}" class="del oper">删除</a> 
                    </td>
                </tr>
            </volist>
        </table>	
	</div>	
    <div id="page">
        {$page}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var wheight=document.documentElement.clientHeight;
        var sheight=$('.tableBox').offset().top;
        // console.log(sheight);
        $('.tableBox').css('height',wheight-sheight-50);
    })
</script>
</body>
</html>