<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>角色管理</title>
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/Public.js"></script>
<script type="text/javascript" src="__JS__/winpop.js"></script>
<script>
$(document).ready(function() {
 
	$('#content #table .tr .del').click(function(event) {
		event.preventDefault();
		if (!confirm('确定要删除该数据吗？')) {
			return false;
		}
		var id=$(this).attr('href');
		if (id=='' || isNaN(id)) {
			wintq('ID参数不正确',3,1000,1,'');
			return false;
		}else {
			wintq('正在删除，请稍后...',3,20000,0,'');
			$.ajax({
				url:'__APP__/Role/roledel',
				dataType:'json',
				type:'POST',
				data:'id='+id,
				success: function(data) {
					if (data=='1') {
						wintq('删除成功',1,1500,1,'');
						window.location.href='__APP__/Role/role_index';

					}else {
						wintq('删除失败',3,1500,1,'');
						window.location.href='__APP__/Role/role_index';
					}
				}
			});
		}
	});
});
</script>
</head>
<body>
<div id="content">
	<h1>首页 > 权限管理 > 职位管理</h1>
    <h2>
    	<div class="h2_left">
            <a href="__APP__/Role/role_add" class="add">新增</a>
            <a href="javascript:history.back();" class="Retreat">后退</a>
        </div>
    </h2>
    <div class="tableBox">
	   	<table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:100%;">
	    	<tr>
	        	<th>编号</th>
	            <th>角色名称</th>
	            <th>角色说明</th>
	            <th>状态</th>
	            <th>时间</th>
	            <th>操作</th>
	        </tr>
	        <if condition="$role eq 0"><tr class="tr"><td class="tc" colspan="7">暂无数据，等待添加～！</td></tr></if>
	        <volist name="role" id="vo">
	        <tr class="tr <eq name="mod" value="1">tr2</eq>" >
	            <td class="tc">{$vo.id}</td>
	            <td class="tc">{$vo.name}{$vo.role_name}</td>
	            <td class="tc">{$vo.description}</td>
	            <td class="tc">
	            <if condition="$vo.state eq 1">
	            <img src="__IMAGE__/home/yes.png" border="0" title="正常" />
	            <else />
	            <img src="__IMAGE__/home/no.png" border="0" title="锁定" />
	            </if>
	            </td>
	            <td class="tc"><?php echo date("Y-m-d h:i:s",$vo['dtime']) ?></td>
	            <td class="tc fixed_w">
	            <a href="__ROOT__/home/role/role_save/id/{$vo.id}" class="edit oper">修改</a>
	            <a href="{$vo.id}" class="del oper">删除</a>
	            </td>
	        </tr>
	        </volist>
	    </table>
    </div>
</div>
</body>
</html>
