<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>修改用户|<{$configcache['Title']}></title>
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/Public.js"></script>
<script type="text/javascript" src="__JS__/winpop.js"></script>
<!-- 新增验证js -->
<script type="text/javascript" src="__JS__/jquery.validate.js"></script>
<style>
	body{background: #fff;}	
    .error{float: left;color:red;line-height: 40px;}
</style>
<script>
    function validform(){
        return $("#add").validate({
        //     onsubmit:true,// 是否在提交时验证
        // 　　onfocusout:false,// 是否在获取焦点时验证
        // 　　onkeyup :false,// 是否在敲击键盘时验证
            rules : {
                roleid : {required:true},
                username : {required : true,rangelength:[2,12]},
                password : {required : true,rangelength:[6,18]},
                real_name : { required : true},
                description : {rangelength : [0,30]}
            },
            messages : {
                roleid : {required:'请选择用户角色'},
                username : { required : '用户名不得为空！',    rangelength : '用户名长度需要在 {0}-{1} 位之间！'},
                password : {required : '密码不得为空！',rangelength : '长度需要在 {0}-{1} 位之间！'},
                real_name : {required : '姓名不得为空！'},
                description : {rangelength : '描述请在30个字符以内'}    
            }
        })
    }
    

    $(document).ready(function(){
        $(validform());
        $(".button").click(function(){
        if(validform().form()) {
          //通过表单验证，以下编写自己的代码
                var roleid=$('#dl dd .select').val();
                var username=$('#dl dd .qtext').eq(1).val();
                var password=$('#dl dd .qtext').eq(2).val();
                var real_name=$('#dl dd .qtext').eq(3).val();
                var description=$('#dl dd .textarea').val();
                var state=$('#dl dd .state:checked').val();
                wintq('正在修改，请稍后...',4,20000,0,'');
                $.ajax({
                    url:'__APP__/User/useradd_do/',
                    dataType:'json',
                    type:'POST',
                    data:'roleid='+roleid+'&username='+username+'&password='+password+'&real_name='+real_name+'&description='+description'&state='+state,
                    success: function(data) {
                        // alert(data);
                        if (data.s=='ok') {
                            wintq('修改成功',1,1500,0,'__APP__/User/user_save/id/'+id);
                        }else {

                            wintq('修改失败',3,1000,1,'');
                        }
                    }
                }); 
         } else {
          //校验不通过，什么都不用做，校验信息已经正常显示在表单上
         }
        });
    })
</script>
</head>
<body>
<div id="content"  class="content_box">
    <form class="save">
        <dl id="dl">
            <dd>
                <span class="dd_left">用户角色：</span>
                <span class="dd_right">
                    <select name="roleid" class="qtext" style="height: 40px; width: 605px;"">
                        <volist name='volist' id='vo'>
                        <if condition="$vo.id eq $result['r_id']">
                        <option selected value="<{$vo.id}>" selected><{$vo.role_name}></option>
                        <else />
                        <option value="<{$vo.id}>"><{$vo.role_name}></option>
                        </if>
                        </volist>
                    </select>
                </span>
            </dd>
            <dd>
                <span class="dd_left">用户名：</span>
                <span class="dd_right">
                	
    				<input type="text" placeholder="* 2～12位英文数字组合" class="qtext" maxlength="12" value="<{$result['username']}>" style="height: 40px; width: 595px;" name="username"/>

                </span>
            </dd>
            <dd>
                <span class="dd_left">密码：</span>
                <span class="dd_right">
                	<input type="password" placeholder="* 不填写则不修改" style="height: 40px; width: 595px;" class="qtext" maxlength="18" name="password" />
                </span>
            </dd>
            <dd>
                <span class="dd_left">用户说明：</span>
                <span class="dd_right">
                <textarea name="description" class="textarea" style=" width: 605px;" ><{$result['description']}></textarea>
                </span>
               
            </dd>
            <dd>
                <span class="dd_left">状态：</span>
                <span class="dd_right">
                    <label style="height: 40px;line-height: 40px; font-size: 16px;">
                        <input type="radio" name="state" class="state" value="1" <if condition="$result['state'] eq 1">checked</if> /> 正常
                    </label>
                    <label style="height: 40px;line-height: 40px; font-size: 16px;">
                        <input type="radio" name="state" class="state" value="2" <if condition="$result['state'] eq 2">checked</if> /> 锁定
                    </label>
                    <font  style="height: 40px;line-height: 40px;">* 提示：如果没有修改任何信息，则会提示“数据修改失败”</font>
                </span>
            </dd>
            <input type="hidden" value="<{$result['id']}>" />
            <dd><input type="button" class="button" value="提 交" /></dd>
        </dl>
    </form>
</div>
</body>
</html>
