<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<title>用户管理</title>
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/Public.js"></script>
<script type="text/javascript" src="__JS__/winpop.js"></script>
<script>
$(document).ready(function() {
	$('#content #table .tr .edit').click(function(event) {
		event.preventDefault();
		var id=$(this).attr('href');
		if (id=='' || isNaN(id)) {
			wintq('ID参数不正确',3,1000,1,'');
			return false;
		}else {
			popload('修改用户信息',800,420,'__APP__/User/saveuser/id/'+id);
			addDiv($('#iframe_pop'));
			popclose();
		}
	});
	$('#content #table .tr .del').click(function(event) {
		event.preventDefault();
		if (!confirm('确定要删除该数据吗？')) {
			return false;
		}
		var id=$(this).attr('href');
		if (id=='' || isNaN(id)) {
			wintq('ID参数不正确',3,1000,1,'');
			return false;
		}else {
			wintq('正在删除，请稍后...',4,1000,0,'');
			$.ajax({
				url:'__APP__/User/userdel/',
				dataType:'json',
				type:'POST',
				data:'id='+id,
				success: function(data) {
					if (data.s=='ok') {
						wintq('删除成功',1,1500,0,'?');
					}else {
						wintq(data.s,3,1500,1,'');
					}
				}
			});
		}
	});
	$('#dely').click(function(event) {
		event.preventDefault();
		if (!confirm('确定要删除选择项吗？')) {
			return false;
		}
		var delid='';
		for (i=0; i<$('#table .delid').size(); i++) {
			if (!$('#table .delid').eq(i).attr('checked')==false) {
				delid=delid+$('#table .delid').eq(i).val()+',';
			}
		}
		if (delid=='') {
			wintq('请选中后再操作',2,1500,1,'');
		}else {
			wintq('正在删除，请稍后...',4,20000,0,'');
			$.ajax({
				url:'__APP__/User/in_user_del/',
				dataType:'JSON',
				type:'POST',
				data:'delid='+delid,
				success: function(data) {
					if (data.s=='ok') {
						wintq('删除成功',1,1500,0,'?');
					}else {
						wintq(data.s,3,1500,1,'');
					}
				}
			});
		}
	});

	var wheight=document.documentElement.clientHeight;
	var sheight=$('.tableBox').offset().top;
	console.log(sheight)
	$('.tableBox').css('height',wheight-sheight-20);
});
</script>
</head>
<body>
<div id="content" style="padding-bottom: 0;">
	<h1>首页 > 权限管理 > 用户管理</h1>
    <h2>
    	<div class="h2_left">
            <a href="__APP__/User/user_add" class="add">新增</a>
            <a href="javascript:history.back();" class="Retreat">后退</a>
        </div>
    </h2>
  	<div class="tableBox">
  		<table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0">
	    	<tr>
	        	<!-- <th><input type="checkbox" class="indel" value="del" /></th> -->
	        	<th>编号</th>
	            <th>用户名</th>
	            <th>用户真实名</th>
	            <th>用户角色</th>
	            <th>角色描述</th>
	            <th>状态</th>
	            <th>最后登录日期</th>
	            <th>操作</th>
	        </tr>
	        <if condition="$volist eq 0"><tr class="tr"><td class="tc" colspan="11">暂无数据，等待添加～！</td></tr></if>
	        <!--顶级数据-->
	        <volist name="volist" id="vo">
	        <tr class="tr <eq name="mod" value="1">tr2</eq>">
<!-- 	        	<td class="tc"><input type="checkbox" class="delid" value="{$vo.id}" /></td>
 -->	            <td class="tc">{$vo.id}</td>
	            <td class="tc">{$vo.username}</td>
	            <td class="tc">{$vo.real_name}</td>
	            <td class="tc">{$vo.role_name}</td>
	            <td class="tc">{$vo.description}</td>
	            <td class="tc">
	            <if condition="$vo.state eq 0">
	            <img src="__IMAGE__/home/yes.png" border="0" title="正常" />
	            <else />
	            <img src="__IMAGE__/home/no.png" border="0" title="锁定" />
	            </if>
	            </td>
	            <td class="tc">{$vo.dtime|date='Y-m-d H:i:s',###}</td>
	            <td class="tc fixed_w">
					<a href="{$vo.id}" class="edit oper">修改</a>
					<a href="{$vo.id}" class="del oper">删除</a>
	            </td>
	        </tr>
	        </volist>
	    </table> 
  	</div>
    <div id="page">{$page}<!-- <a href="javascript:;" class="selbox">全选</a><a href="javascript:;" class="anti">反选</a><a href="javascript:;" class="unselbox">全不选</a><a href="javascript:;" id="dely">删除</a>&nbsp;&nbsp;&nbsp;&nbsp; --></div>
</div>
</body>
</html>
