<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>材料管理</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
    <link rel="csssheet" type="text/css" href="__CSS__/public.css"  />
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
</head>
<body>
<div id="content">
    <div class="topFix">
        <h1>首页 > 产品管理 > 已使用材料客户信息</h1>
        <h2>
            <div class="h2_left">
                <a href="javascript:history.back();" class="Retreat">后退</a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </h2>

    </div>
    <div class="tableBox">
		<table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:100%">
            <tr>
                <th>项目</th>
                <th>地址号</th>
                <th>公司名称</th>
                <th>操作</th>
            </tr>
            <volist name="data" id="vo">
                <tr class="tr" value="1">
                    <td class="tc">{$vo.class_name}</td>
                    <td class="tc">{$vo.pro_address}--{$vo.detailscoll}</td>
                    <td class="tc">{$vo.client_name}</td>
                    <td class="tc">
                        <div class="operation"><a href="" class="chakan oper">收回  </a></div></div>
                    </td>
                </tr>
            </volist>
        </table>	
	</div>	
    <div id="page">
        
    </div>
</div>
</body>
</html>