<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>已完成合同</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/popwin.css"/>
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
    <script type="text/javascript" src="__JS__/winpop.js"></script>
</head>
<body>
<div id="content">
    <h1>首页 > 合同管理 > 已完成合同</h1>
    <h2>
        <div class="search">
            <form action="__ACTION__" method="post" id="dayStatic">
                <input type="text" name="company" class="text"/>
                <input type="submit" value="搜索" class="so" />
            </form>
        </div>
        <a href="javascript:;" class="diy">自定义导出</a>
    </h2>
 	<div class="tableBox">
		<table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:150%">
            <tr>
                <th>编号</th>
                <th>合同编号</th>
                <th>公司名称</th>
                <th>合同类型</th>
                <th>注册号/房间号</th>
                <th>实际金额</th>
                <th>法人姓名</th>
                <th>电话</th>
                <th>租赁日期</th>
                <th>业务员</th>
                <th>信用代码</th>
                <th>同行姓名</th>
                <th>电话</th>
                <th>业务员</th>
                <th>签订公司</th>
                <th>操作</th>
            </tr>
            <!--顶级数据-->
            <tr class="tr">
                <td class="tc">1</td>
                <td class="tc">416465</td>
                <td class="tc">又是大项目</td>
                <td class="tc">4</td>
                <td class="tc">211</td>
                <td class="tc">20000</td>
                <td class="tc">2018/4/20</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc fixed_w"> 
                    <div class="operation">更多
                        <div class="operarea">
                            <a href="javascript:;" class="see oper2">查看</a>
                            <a href="javascript:;" class="download oper2">下载</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="tr">
                <td class="tc">1</td>
                <td class="tc">416465</td>
                <td class="tc">又是大项目</td>
                <td class="tc">4</td>
                <td class="tc">211</td>
                <td class="tc">20000</td>
                <td class="tc">2018/4/20</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc">宏梦</td>
                <td class="tc fixed_w"> 
                    <div class="operation">更多
                        <div class="operarea">
                            <a href="javascript:;" class="see oper2">查看</a>
                            <a href="javascript:;" class="download oper2">下载</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
	</div>	
    <div id="page"><{$page}></div>
</div>
<!-- 自定义导出 -->
<div class="popWinBox popWinBox1">
    <div class="popWin popWin1">
        <div class="popWinTitle">自定义导出</div>
        <div style="width:640px;margin:0 auto">
            <div class="popWinTop">
                <div class="checkBB">
                    <input type="checkBox" name="guolv" value="财智国际大厦"><label for="check"></label><span>财智国际大厦</span>
                </div>
                <div class="checkBB">
                    <input type="checkBox" name="guolv" value="金隅嘉华大厦" ><label for="check"></label><span>金隅嘉华大厦</span>
                </div>
                <div class="checkBB">
                    <input type="checkBox" name="guolv" value="世纪科贸大厦"><label for="check"></label><span>世纪科贸大厦</span>
                </div>
                <div class="checkBB"><input type="checkBox" name="guolv" value="大面积"><label for="check"></label><span>大面积</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value="小面积"><label for="check"></label><span>小面积</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value="地址"><label for="check"></label><span>地址</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value="记账"><label for="check"></label><span>记账</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value="代理"><label for="check"></label><span>代理</span></div>

                <div class="checkBB"><input type="checkBox" name="guolv" value="记账直接客户"><label for="check"></label><span>记账直接客户</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value="非记账直接客户"><label for="check"></label><span>非记账直接客户</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value=""><label for="check"></label><span>中间商</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value=""><label for="check"></label><span>中介</span></div>

                <div class="checkBB"><input type="checkBox" name="guolv" value=""><label for="check"></label><span>应收款客户</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value=""><label for="check"></label><span>合同到期客户</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value=""><label for="check"></label><span>停租客户</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value=""><label for="check"></label><span>拜访时间</span></div>

                <div class="checkBB"><input type="checkBox" name="guolv" value=""><label for="check"></label><span>渠道一（人员）</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value=""><label for="check"></label><span>渠道二（人员）</span></div>
                <div class="checkBB"><input type="checkBox" name="guolv" value=""><label for="check"></label><span>直销（人员）</span></div>
                  
            </div>
            <div class="popWinBot">
                <form action="" method="post" id="popForm">
                    <div class="popWinTopL">
                        <div class="alldel">全部清除</div>
                        <div class="butBox"></div>
                    </div>
                    <div class="popWinTopr"><input type="submit" name="提交" id="popSub"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $().ready(function(){
        $('.checkBB input').click(function(){
            var ind = $('.checkBB input').index(this);
            if($(this).is(':checked') == true) {
                var text=$(this).attr('value');
                $(this).parent().find('label').css('background','url(../../images/checkBut2.png) no-repeat');
                // alert(typeof text);
                $('.butBox').append('<div class="secDis ind'+ind+'" value='+text+'>'+text+'</div>')
            }else if($(this).is(':checked') == false){
                $(this).parent().find('label').css('background','url(../../images/checkBut1.png) no-repeat');
                $('.butBox div.ind'+ind).remove();
           
            }
        })
        // 全部清除
        $('.alldel').click(function(){
            $('.butBox div').remove();
            $('.checkBB label').css('background','url(../../images/checkBut1.png) no-repeat');
            $('.checkBB input').attr("checked",false);
        })  
    })  
</script>
</body>
</html>
