<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出合同信息</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/pact_add.css"/>
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
    <script type="text/javascript" src="__JS__/winpop.js"></script>
    <!-- 日期插件 -->
    <script type="text/javascript" src="__JS__/laydate/laydate.js"></script>
</head>
<body>
<div class="contract_cont"  id="content">

    <h1>首页 >  合同管理 > 完善合同信息</h1>
    <h2>
        <div class="h2_left">
            <a href="javascript:history.back();" class="Retreat">后退</a>
        </div>
    </h2>
    <form method="post" action="__APP__/Pact/pactadd_do" enctype="multipart/form-data">
        <input type="hidden" name="client_id"  value="{$client.id}">
        <ul>
            <li class="xian">基础信息</li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>签订日期：</span>
                <input type="text" name="ac_time" id="ac_time" class="pact_ipt"/>
                <div id="sdd" style="left: 243px;top: 284px;"></div>
                    
            </li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>合同性质：</span>
                <select  name="contractnature" class="pact_select" >
                    <option value="">--请选择--</option>
                    <option value="1">新注册</option>
                    <option value="2">变更</option>
                    <option value="3">续签</option>
                </select>
            </li>
            <li class="xian">客户信息</li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>客户分组：</span>
                <input type="text" name="middle_state" value="{$client.middle_state}" class="pact_ipt"/>
            </li>
            <if condition="$client.middle_state eq '直接客户' ">
                

            <else /> 
                <li class="iptBox">
                    <span class="ipt_left"><em class="red">*</em>{$client.middle_state}公司：</span>
                    <input type="text" name="middle_name" value="{$client.middle_name}" class="pact_ipt"/>
                    <div id="vas"></div>
                </li>
                <li class="iptBox">
                    <span class="ipt_left"><em class="red">*</em>{$client.middle_state}联系人：</span>
                    <input type="text" name="middle_man" value="{$client.middle_man}" class="pact_ipt"/>
                </li>
                <li class="iptBox">
                    <span class="ipt_left"><em class="red">*</em>{$client.middle_state}联系人电话：</span>
                    <input type="text" name="middle_tel" value="{$client.middle_tel}" class="pact_ipt"/>
                </li>

                <li class="iptBox">
                    <span class="ipt_left"><em class="red">*</em>{$client.middle_state}办公地址：</span>
                    <input type="text" name="middle_address" value="{$client.middle_address}" class="pact_ipt"/>
                </li>
            </if>
            <br>
            <!-- 客户公司信息 -->
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>客户公司：</span>
                <input type="text" name="client_name" value="{$client.client_name}" class="pact_ipt"/>
                <div id="vas"></div>
            </li>
            <li class="iptBox" style="position: relative;">
                <span class="ipt_left"><em class="red">*</em>注册资金：</span>
                <input type="text" name="client_money" value="{$client.client_money}" class="pact_ipt"/>
                <span class="rightsp"> 万</span>
            </li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>法人姓名：</span>
                <input type="text" name="legalperson" value="{$client.legalperson}" class="pact_ipt"/>
            </li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>法人联系电话：</span>
                <input type="text" name="legaltel" value="{$client.legaltel}" class="pact_ipt"/>
            </li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>法人身份证号：</span>
                <input type="text" name="legalidnum" value="{$client.legalidnum}" class="pact_ipt"/>
            </li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>纳税形式：</span>
                <if condition="$client.taxstyle eq 0 ">
                    <input type="text" name="taxstyle" value="小规模" class="pact_ipt"/>
                <else />
                    <input type="text" name="taxstyle" value="一般人" class="pact_ipt"/>
                </if>
            </li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>信用代码：</span>
                <input type="text" name="credit_code" value="{$client.credit_code}" class="pact_ipt"/>
            </li>            
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>办公地址：</span>
                <input type="text" name="client_address" value="{$client.client_address}" class="pact_ipt"/>
            </li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>其他联系人：</span>
                <input type="text" name="client_man" value="{$client.client_man}" class="pact_ipt"/>
            </li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>联系人电话：</span>
                <input type="text" name="client_tel" value="{$client.client_tel}" class="pact_ipt"/>
            </li>
            <li class="xian">合同信息</li>
            <li class="iptBox">
                <span class="ipt_left"><em class="red">*</em>合同类型：</span>
                <select name="contracttype" id="contracttype" class="pact_select">
                    <option value="0">选择合同分类</option>
                    <option value="大面积出租">大面积出租</option>
                    <option value="mini房间">mini房间</option>
                    <if condition="$reserved neq 'null' ">
                        <option value="工位注册办公">工位注册办公</option>
                        <option value="注册地址">注册地址</option>
                    <else />
                    </if>
                    
                    <option value="工位不注册办公">工位不注册办公</option>
                    <option value="会议室出租">会议室出租</option>
                   
                    <option value="代理记账">代理记账</option>
                    <option value="工商代理">工商代理</option>                    
                </select> 
            </li>
            <div id="zhuijia"></div>
            <li class="zhushi">合同信息</li>
            <li class="iptBox">
            <input type="hidden" id="account_id" name="account_id">
                <span class="ipt_left"><em class="red">*</em>收款账户：</span>
                <select id="account"   class="pact_select" >
                <option value="">请选择收款账户</option>
                <foreach name="account" item="vo" >
                    <option value="{$vo.id}">{$vo.acc_name}</option>
                </foreach>
                </select>
            </li>
            <div id="bank"></div>
            <li class="iptBox" style="position: relative;">
                <span class="ipt_left"><em class="red">*</em>实际金额：</span>
                <input type="text" name="actual_amount" value="" class="pact_ipt"/>
                <span class="rightsp">元（大写）</span>
            </li>
            <li class="zhushi">部门</li>
            <li class="iptBox" style="margin-bottom: 30px;">
                <span class="ipt_left"><em class="red">*</em>业务员：</span>
                <select id="role_name"  class="pact_select" >
                    <option value="0">请选择部门</option>
                    <foreach name="role" item="vo" >
                        <option value="{$vo.id}">{$vo.role_name}</option>
                    </foreach>  
                </select>
            </li>
            <div id="role"></div>
            <div id="user"></div>
        </ul>
        <input type="submit" value="提交" class="submit">
    </form>
</div>

<script type="text/javascript" >

        laydate.render({
            elem: '#ac_time',  
            format: 'yyyy年MM月dd日', 
            
        });
               
    // 合同类型
    $(document).on('change','#contracttype',function(){

        $('#zhuijia').empty()
        var project = <?php echo  $project; ?>;
        var html = '';
        $.each(project,function(k,v)
                {
                  html += '<option value="'+v.id+'">'+v.class_name+'</option>';
                  
                })
        var reserved = <?php echo $reserved; ?>;
        if(reserved != 'null'){
            var reser = '<li class="iptBox"><span class="ipt_left"><em class="red">*</em>注册地址：</span><input type="text" class="pact_select" value="'+reserved.class_name+reserved.pro_address+reserved.detailscoll+'" /><input type="hidden" name="det_id" value="'+reserved.id+'" /></li>';
        }
        // alert(reserved.pro_address);
        var ord=$(this).val();
        var red = '';
        if(ord=='大面积出租'){
            red = 'damianji';
        }
        if(ord=='mini房间'){
            red = 'minifangjian';
        }
        if(ord=='工位注册办公'){
          red = 'gongweizhuce';
        }
        if(ord=='注册地址'){
           red = 'zhucedizhi';
        }
        if(ord=='代理记账'){
            red = 'dailijizhang';
        }
        if(ord=='工位不注册办公'){
            red = 'gongweibuzhuce';
        }
        if(ord=='工商代理'){
            red = 'gongshang';
        }
        if(ord == '0' || ord == '会议室出租'){
            red = 'kong';
        }
        $.ajax({
            url: './?s=Home/Pacttype/'+red,
            global: false,
            type: "POST",
            dataType: "html",
            async: true,
            success: function(msg) {
                $('#zhuijia').append(msg);
                $("#zhuijia :input").each(function () { 
                    $(this).val(""); 
                }); 
               
                $('#project').append(html);
                if(reserved != 'null'){
                    $('#zhucedizhi').empty().append(reser);
                }
            }
        })

    })

    // 合同模板拉取
    $(document).on('change','#signcompany',function(){
            var remarks = $(this).val() 
            var ord = $('#contracttype').val();
            $.ajax({
                type: "post",
                url: "__APP__/Pact/stencil",
                data:{'ordercate':ord,'remarks':remarks},
                dataType:"json",
                success: function(msg){
 
                    var  html = '<li class="iptBox"><span class="ipt_left"><em class="red">*</em>合同模板：</span><select name="stencil_id" id="pact" class="pact_select"><option value="0">请选择合同模板</option>';
                    $.each(msg,function(k,v)
                    {
            			html += '<option value="'+v.id+'">'+v.stencil_name+'</option>';
                    })
                    html += '<select></li>';
                    $('.moban').empty().append(html);
                    
               }
            })
    });
    // 产品拉取
    $(document).on('change','#project',function(){
        var class_id = $(this).val();

        $.ajax({
           type: "POST",
           url: "__APP__/Pact/product",
           data:'class_id='+class_id,
           dataType:"json",
           success: function(msg){
                html ='<option value="0">请选择地址</option>';
                $.each(msg,function(k,v)
                {
                  html += '<option value="'+v.id+'">'+v.pro_address+'</option>';
                })
                $('#product').empty().append(html);
                

           }
       }) 
    })

    // 房间号
    $(document).on('change','#product',function(){
		
        var id = $(this).val();
        var contracttype = $('#contracttype').val();					
        $.ajax({
           type: "POST",
           url: "__APP__/Pact/details",
           data:{'id':id,'contracttype':contracttype},
           dataType:"json",
           success: function(msg){
           		
       		   var html = '<option value="">请选择房间号</option>';
                $.each(msg,function(k,v)
                {
                    html += '<option value="'+v.id+'">'+v.detailscoll+'</option>';
                })
	                $('#home').empty().append(html);   
           		
           }
       }) 
    })
    // 房间面积
    $(document).on('change','#home',function(){
        var id = $(this).val();
        $.ajax({
           type: "POST",
           url: "__APP__/Pact/room_area",
           data:{'id':id},
           dataType:"json",
           success: function(msg){
                $('#room_area').val(msg.big_sum)
           }
       }) 
    })
    // 免租期
    $(document).on('blur','#freetime',function(){
        var time = $('#rentstarttime').val();
        var day = $('#freetime').val();
        $.ajax({
            type: "POST",   
            url: "__APP__/Pact/freetime",
            data:{'time':time,'day':day},
            dataType:"json",
            success: function(msg){
                $('#freestarttime').val(msg.start);
                $('#freeendtime').val(msg.end)
            }
        });
    })
    // 银行账户联动
    $(document).on('change','#account',function() {
        var id = $(this).val();
        ;
        $.ajax({
            type: "POST",
            url: "__APP__/Pact/account",
            data:{'id':id},
            dataType:"json",
            success: function(msg){
                var html = '<li class="iptBox"><span class="ipt_left"><em class="red">*</em>开户行：</span><input type="text" name="client_tel" value="'+msg.opacontbank+'" class="pact_ipt"/></li><li class="iptBox"><span class="ipt_left"><em class="red">*</em>银行卡号：</span><input type="text" name="client_tel" value="'+msg.contnum+'" class="pact_ipt"/></li>'; 
                    $('#bank').empty().append(html);
                    $('#account_id').val(msg.id)
                
            }
        })    
    })

    // 业务员职位联动
    $(document).on('change','#role_name',function(){
        var id = $(this).val();
      
        $.ajax({
            type: "POST",
            url: "__APP__/Pact/role_sel",
            data:{'id':id},
            dataType:"json",
            success: function(msg){

                var html = '<li class="iptBox" style="margin-bottom: 30px;"><span class="ipt_left"><em class="red">*</em>职位：</span><select class="pact_select"  id="quarters"><option value="0">请选择职位</option>';
                $.each(msg,function(k,v)
                {
                  html += '<option value="'+v.id+'">'+v.role_name+'</option>';
                })
                html += '</select></li>';
                $('#role').empty().append(html);
                 
           }
       })    
    })    
    // 业务员人员联动
    $(document).on('change','#quarters',function(){
        var id = $(this).val();
        $.ajax({
            type: "POST",
            url: "__APP__/Pact/user_sel",
            data:{'id':id},
            dataType:"json",
            success: function(msg){
                var html = '<li class="iptBox" style="margin-bottom: 30px;"><span class="ipt_left"><em class="red">*</em>业务员：</span><select class="pact_select" name="user_id"  id="user_id"><option value="0">请选择业务员</option>';
                $.each(msg,function(k,v)
                {
                  html += '<option value="'+v.id+'">'+v.username+'</option>';
                })
                html += '</select></li>';
                $('#user').empty().append(html);
           }
       })    
    })

    $(document).on('blur','#servemenyq',function(){
        var ord = $('#contracttype').val();
          if(ord=='工商代理'){
            var signcompany = $('#servemenyq').val();
            var dxmy=convertCurrency(signcompany);
            // alert(dxmy)
        }
    })
    $(document).on('blur','.yuan',function(){
        var moeny = $(this).val();
        $(this).next('.daxie').html(convertCurrency(moeny));
    })
    // 根据合同判断收款计算方式
    function ht_sk(){
        var ord = $('#contracttype').val();
        if(ord=='大面积出租'){
             var pact = $('#pact').val()
             var housearea = $('#room_area').val();
            var rent = $('#rentdatetime').val();
            // var arr = pact.split('—');
            // if(arr[0]==='孵化服务协议'){
                 var year_rent = Math.ceil(rent * housearea * 365);             //年租金
            // }else{
                 // var year_rent = Math.ceil(rent * housearea * 365);             //年租金
            // }
            
           
            var monthly_rent = Math.floor(year_rent / 12);                  //月租金
        }
        if(ord=='mini房间'){
            var servemeny=$('#business').val();
            // var energy_charge=$('#energy_charge').val();
            var monthly_rent = servemeny;                  //月租金
            var year_rent = monthly_rent * 12 ;             //年租金
            // return false;
        }
        if(ord=='工位注册办公'){
           // $(".zcdz *").attr("disabled",true);
            var business = $('#business').val();
            var station = $('#station').val();
           
            var monthly_rent =  parseInt(station);                  //月租金
            var year_rent = monthly_rent * 12 + parseInt(business)*12 ;             //年租金
            // return false;
        }
        if(ord=='工位不注册办公'){
           // $(".zcdz *").attr("disabled",true);
            // var servemeny = $('#servemeny').val();
            var station = $('#station').val();
           
            var monthly_rent = station;                  //月租金
            var year_rent = monthly_rent * 12 ;             //年租金
            // return false;
        }
        if(ord=='注册地址'){
            var monthly_rent= $('#servemeny').val();            //月租金
            var year_rent = monthly_rent * 12 ;             //年租金
            // return false;
        }
        if(ord=='代理记账'){
            var accountant = $('#accountant').val();
            var cost = $('#cost').val();
            var tax_printer = $('#tax_printer').val();
            var monthly_rent = parseInt(accountant) + parseInt(cost);
            if(tax_printer!=''){
                var year_rent = parseInt(monthly_rent * 12) + parseInt(tax_printer);
            }else{
                var year_rent = monthly_rent * 12 ;             //年租金
            }
                           
            

        }

        $('#monthly_rent').val(monthly_rent*100/100);
        $('#year_rent').val(year_rent*100/100);
        $('#monthly_rent').next('.daxie').html(convertCurrency(monthly_rent*100/100));
        $('#year_rent').next('.daxie').html(convertCurrency(year_rent*100/100));
    }
    //获取下次付款时间
    function moeny(){
        var id = $('#paytype').val();                      //付款方式
        var ord = $('#contracttype').val();
        var appoint = $('#appoint').val()
        if(ord=='代理记账'){
            var rentendtime = $('#agencyendtime').val();      //租赁结束日期
            var rentstarttime = $('#agencystarttime').val();  //租赁开始日期
        }else{
            var rentendtime = $('#rentendtime').val();      //租赁结束日期
            var rentstarttime = $('#rentstarttime').val();  //租赁开始日期        
        }
        var monthly_rent = $('#monthly_rent').val();         //月租金   
        if(ord=='工位注册办公'){
            var servemeny = $('#servemeny').val(); 
        }
        

        if(appoint!="")
        {
            if(servemeny!=''){
                var data={'id':id,'monthly_rent':monthly_rent,'rentendtime':rentendtime,'rentstarttime':rentstarttime,'appoint':appoint,'servemeny':servemeny}
            }else{
                var data={'id':id,'monthly_rent':monthly_rent,'rentendtime':rentendtime,'rentstarttime':rentstarttime,'appoint':appoint}
            }
            
        }
        else
        {
             if(servemeny!=''){
                var data={'id':id,'monthly_rent':monthly_rent,'rentendtime':rentendtime,'rentstarttime':rentstarttime,'appoint':appoint,'servemeny':servemeny}
            }else{
                var data={'id':id,'monthly_rent':monthly_rent,'rentendtime':rentendtime,'rentstarttime':rentstarttime,'appoint':appoint}
            }
        }
        $.ajax({
           type: "POST",
           url: "__APP__/Pact/paytype",
           data:data,
           dataType:"json",
           success: function(msg){
            // alert(msg)
            $('#deposit').val(msg.deposit);
            $('#each').val(msg.fu);
            $('#each').next('.daxie').html(convertCurrency(msg.fu));
            $('#deposit').next('.daxie').html(convertCurrency(msg.deposit));
            if(msg.nexttime==null){
                    var nexttime ='<li class="iptBox"><center><h3>合同签订当日付清<font color="red">'+msg.total+'</font>元</h3></center></li>'
                }else{
                   
                    $.each(msg.nexttime,function(k,v){
                        var i = parseInt(k)+parseInt(1)

                            nexttime +='<li class="iptBox"><span class="ipt_left">第'+i+'次付款日期：</span><input type="text" name="paynext2" value="'+v+'" class="pact_ipt" /></li>';
                            
                        
                    })
                    
                }

                $('#payment').empty().append(nexttime);
            
           }
       })    
    }
    $(document).on('change','#isfreecontrol',function(){
        var shuikong = $(this).val();
            $('.shuikong *').hide();
            $('.shuikong').attr('style','display:none');
            
            $(".shuikong *").attr("disabled",true);
        if(shuikong=='是'){
            $('.shuikong *').show();
            $('.shuikong').attr('style','display:""');
            
            $(".shuikong *").attr("disabled",false);
        }
    })
    function convertCurrency(money) {
	  //汉字的数字
	  var cnNums = new Array('零', '壹', '贰', '叁', '肆', '伍', '陆', '柒', '捌', '玖');
	  //基本单位
	  var cnIntRadice = new Array('', '拾', '佰', '仟');
	  //对应整数部分扩展单位
	  var cnIntUnits = new Array('', '万', '亿', '兆');
	  //对应小数部分单位
	  var cnDecUnits = new Array('角', '分', '毫', '厘');
	  //整数金额时后面跟的字符
	  var cnInteger = '整';
	  //整型完以后的单位
	  var cnIntLast = '元';
	  //最大处理的数字
	  var maxNum = 999999999999999.9999;
	  //金额整数部分
	  var integerNum;
	  //金额小数部分
	  var decimalNum;
	  //输出的中文金额字符串
	  var chineseStr = '';
	  //分离金额后用的数组，预定义
	  var parts;
	  if (money == '') { return ''; }
	  money = parseFloat(money);
	  if (money >= maxNum) {
	    //超出最大处理数字
	    return '';
	  }
	  if (money == 0) {
	    chineseStr = cnNums[0] + cnIntLast + cnInteger;
	    return chineseStr;
	  }
	  //转换为字符串
	  money = money.toString();
	  if (money.indexOf('.') == -1) {
	    integerNum = money;
	    decimalNum = '';
	  } else {
	    parts = money.split('.');
	    integerNum = parts[0];
	    decimalNum = parts[1].substr(0, 4);
	  }
	  //获取整型部分转换
	  if (parseInt(integerNum, 10) > 0) {
	    var zeroCount = 0;
	    var IntLen = integerNum.length;
	    for (var i = 0; i < IntLen; i++) {
	      var n = integerNum.substr(i, 1);
	      var p = IntLen - i - 1;
	      var q = p / 4;
	      var m = p % 4;
	      if (n == '0') {
	        zeroCount++;
	      } else {
	        if (zeroCount > 0) {
	          chineseStr += cnNums[0];
	        }
	        //归零
	        zeroCount = 0;
	        chineseStr += cnNums[parseInt(n)] + cnIntRadice[m];
	      }
	      if (m == 0 && zeroCount < 4) {
	        chineseStr += cnIntUnits[q];
	      }
	    }
	    chineseStr += cnIntLast;
	  }
	  //小数部分
	  if (decimalNum != '') {
	    var decLen = decimalNum.length;
	    for (var i = 0; i < decLen; i++) {
	      var n = decimalNum.substr(i, 1);
	      if (n != '0') {
	        chineseStr += cnNums[Number(n)] + cnDecUnits[i];
	      }
	    }
	  }
	  if (chineseStr == '') {
	    chineseStr += cnNums[0] + cnIntLast + cnInteger;
	  } else if (decimalNum == '') {
	    chineseStr += cnInteger;
	  }
	return chineseStr;
}



</script>
</body>
</html>