<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>财务管理</title>
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/Public.js"></script>
<script type="text/javascript" src="__JS__/winpop.js"></script>
<style type="text/css">
    .dd_left{width:130px !important;}
</style>
</head>
<body>
<div id="content">
    <h1>首页 &gt;  财务管理&gt; 提成管理 &gt; 新增</h1>
    <h2>
        <div class="h2_left">
            <a href="javascript:history.back();" class="Retreat">后退</a>
        </div>
    </h2>
    <form id="add" method="post" action="">
    	<dl id="dl">
        	
            <dd>
            	<span class="dd_left">月份：</span>
            	<span class="dd_right">
            		<input type="text" class="qtext" maxlength="12"  name=""/>
            	</span>
            </dd>
            <dd>
            	<span class="dd_left">部门：</span>
            	<span class="dd_right">
            		<input type="text" class="qtext" maxlength="30"  name="" />
            	</span>
            </dd>
            
<!--              <dd>
                <span class="dd_left">新签目标业绩金额：</span>
                <span class="dd_right">
                    <input type="text" class="qtext" maxlength="30"  name="" />
                </span>
            </dd> -->
<!--             <dd>
                <span class="dd_left">到期合同金额：</span>
                <span class="dd_right">
                    <input type="text" class="qtext" maxlength="30"  name="" />
                </span>
            </dd> -->
<!--              <dd>
                <span class="dd_left">应收款金额：</span>
                <span class="dd_right">
                    <input type="text" class="qtext" maxlength="30"  name="" />
                </span>
            </dd> -->
             <dd>
                <span class="dd_left">提成标准：</span>
                <span class="dd_right">
                    <input type="text" class="qtext" maxlength="30"  name="" />
                </span>
            </dd>
            <dd>
                <span class="dd_left">人员匹配：</span>
                <span class="dd_right">
                    <input type="text" class="qtext" maxlength="30"  name="" />
                </span>
            </dd>

            <dd>
                <span class="dd_left">底薪：</span>
                <span class="dd_right">
                    <input type="text" class="qtext" maxlength="30"  name="" />
                </span>
            </dd>
           
            <dd><input type="button" class="button" value="提 交" /></dd>
            <div style="clear:both;"></div>
        </dl>
    </form>
</div>
</body>

</html>
