<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>添加新客户</title>
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/public.css"/>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/Public.js"></script>
<script type="text/javascript" src="__JS__/winpop.js"></script>
<!-- <script type="text/javascript" src="__JS__/check.js"></script> -->
<script type="text/javascript" src="__JS__/WdatePicker.js"></script>
<style>
    #mername{
         z-index: 100000000;
        background: #fff;
        position: absolute;
        top:30px;
        width: 248px;
        left: 126px;
        box-shadow: 3px 7px 10px 2px #dadada;
    }
    #mername p{
        cursor: pointer;
    }
    #mername p:hover{
        background: #eee;
    }
    select{
        width: 108px;
    }
    .unkwn{border:1px solid #ccc;background: #fff;position: absolute;top:30px;z-index: 22;width: 754px;}
    .unkwn p{font-size: 14px;color:#000;height:35px;line-height: 35px;padding-left:15px;cursor: pointer;}
    .unkwn p:hover{background: #eee;}

</style>
<script>
    var customtype;                     //合同性质
    var middleman;                      //中间商/中介公司
    var middlename;                     //中间商/中介公司联系人
    var middletel;                      //中间商/中介公司联系人电话
    var middleaddress;                  //中间商/中介公司办公地址
    var customername;                   //客户/公司
    var capital;                        //注册资金
    var legalperson;                    //法人姓名
    var legaltel;                       //法人电话
    var legalidnum;                     //法人身份证号
    function confirm()
    {
        var customtype = $('input[name=customtype]').val();
        if(customtype=="")
        {
            alert('请选择合同性质');
            return false;
        }    
        var middleman = $('input[name=middleman]').val();
        if(middleman=="")
        {
            alert('中间商/中介公司不为空');
            return false;
        }    
        var middlename = $('input[name=middlename]').val();
        if(middlename=="")
        {
            alert('中间商/中介公司联系人不为空');
            return false;
        }    
        var middletel = $('input[name=middletel]').val();
        if(middletel=="")
        {
            alert('中间商/中介公司联系人电话不为空');
            return false;
        }    
        var middleaddress = $('input[name=middleaddress]').val();
        if(middleaddress=="")
        {
            alert('中间商/中介公司办公地址不为空');
            return false;
        }    
        var contracttype = $('#customtype').val();
        if(contracttype=='记账直接客户')
        {

        
            var customername = $('input[name=customername]').val();
            if(customername=="")
            {
                alert('客户/公司不为空');
                return false;
            }    
 
            var legalperson = $('input[name=legalperson]').val();
            if(legalperson=="")
            {
                alert('法人姓名不为空');
                return false;
            }    
            var legaltel = $('input[name=legaltel]').val();
            if(legaltel=="")
            {
                alert('法人电话不为空');
               
                return false;
            }    
            var legalidnum = $('input[name=legalidnum]').val();
            if(legalidnum=="")
            {
                alert('法人身份证号不为空');
                return false;
            }    
        }
    }
</script>
</head>
<body>
<div id="content" style="padding-bottom:20px;">
    <h1>首页 > 客户管理 > 客户信息 > 修改/查看客户</h1>
    <h2>
        <div class="h2_left">
            <a href="javascript:history.back();" class="Retreat">后退</a>
        </div>
    </h2>
    <form action="__APP__/Client/clientsave_do" method="post">
    <dl id="cdl" >
        <dd>
            <span class="dd_left">客户分组：</span>
            <span class="dd_right">
                <select id="customtype" name="customtype" class="select tab_select" style="width: 752px;height: 40px;">
                        <if condition="$lsit.customtype eq '直接客户' ">
                            <option value="直接客户" selected="selected">直接客户</option>
                            <option value="渠道客户">渠道客户</option>
                        <else />
                            <option value="直接客户" >直接客户</option>
                            <option value="渠道客户" selected="selected">渠道客户</option>
                        </if>
                        
                </select>
            </span>
        </dd>
        <if condition="$lsit.customtype eq '直接客户' ">
                           <script type="text/javascript">
                           $('#center').attr('style:display','none');
                           </script>
                        <else />
                           <script type="text/javascript">
                           $('#center').attr('style:display','back');
                           </script>
                        </if>
        <div id="xu"></div>
        <div id="center">
            <dd>
                <span class="dd_left">
                    <input type="hidden" name="nuddke_id" value='{$list.nuddke_id}' id="middelid"/>渠道公司：</span>
                    <span class="dd_right">
                    <input name="middle_name" type="text" class="qtext" size="40" value='{$list.middle_name}'  id="middleman" autocomplete="off"/>
                    <div id="quao">
                        
                    </div>
                </span>
            </dd>
            <dd>
                <span class="dd_left">联系人：</span>
                <span class="dd_right">
                    <input name="middlename" id="middlename" value="{$list.middle_man}" type="text" class="qtext" size="30" />
                </span>
            </dd>
        </div>

        <div id="contra">
            <dd>
                <span class="dd_left">客户/公司：</span>
                <span class="dd_right">
                    <input name="client_name" id="customername" value="{$list.client_name}" placeholder="* 填写公司名称或客户名称" type="text" class="qtext" size="50"/>
                </span>
                
            </dd>
            <dd>
                <span class="dd_left">公司办公地址：</span>
                <span class="dd_right">
                    <input name="client_address" id="customcontacter" value="{$list.client_address}" type="text" class="qtext" size="40" />
                </span>
            </dd>
            <dd>
                <span class="dd_left">公司联系人：</span>
                <span class="dd_right">
                    <input name="client_man" id="customcontacter" value="{$list.client_man}" type="text" class="qtext" size="40" />
                </span>
            </dd>
            <dd>
                <span class="dd_left">公司联系人电话：</span>
                <span class="dd_right">
                    <input name="client_tel" id="customcontacter" value="{$list.client_tel}" type="text" class="qtext" size="40" />
                </span>
            </dd>
            <dd>
                <span class="dd_left">注册资金：</span>
                <span class="dd_right">
                    <input name="client_money" id="capital" type="text" value="{$list.client_money}" class="qtext" size="40" />
                </span>
            </dd>
            
            <dd>
                <span class="dd_left">纳税形式：</span>
                <span class="dd_right">
                    <select name="taxstyle" id="taxstyle" class="select tab_select"  style="width: 752px;height: 40px;">
                        <if condition="$lsit.taxstyle eq 1 ">
                            <option value="1" selected="selected">一般人</option>
                            <option value="0">小规模</option>
                        <else />
                            <option value="1">一般人</option>
                            <option value="0" selected="selected">小规模</option>
                        </if>

                    </select>
                </span>
            </dd>
            <dd>
                <span class="dd_left">法人姓名：</span>
                <span class="dd_right">
                    <input name="legalperson" id="legalperson" value="{$list.legalperson}" type="text" class="qtext" size="40" />
                </span>
            </dd>
            <dd>
                <span class="dd_left">法人电话：</span>
                <span class="dd_right">
                    <input name="legaltel" id="legaltel" value="{$list.legaltel}" type="text" class="qtext" size="30" />
                </span>
            </dd>
            <dd>
                <span class="dd_left">法人身份证号：</span>
                <span class="dd_right">
                    <input name="legaltel" id="legalidnum" value="{$list.legaltel}" type="text" class="qtext" size="40" />
                </span>
            </dd>
            <dd>
                <span class="dd_left">其他联系人：</span>
                <span class="dd_right">
                    <input name="other_man" id="customcontacter" value="{$list.other_man}" type="text" class="qtext" size="40" />
                </span>
            </dd>
            <dd>
                <span class="dd_left">其他联系人电话：</span>
                <span class="dd_right">
                    <input name="other_tel" id="customtel" value="{$list.other_tel}" type="text" class="qtext" size="30" />
                </span>
            </dd>
            <dd>
                <span class="dd_left">备注信息：</span>
                <span class="dd_right">
                    <textarea id="message" class="textarea text_box" rows="3" cols="30" style="width: 752px;">{$list.message}</textarea>
                </span>
            </dd>
        </div>
    </dl>
    <div id="wancheng"></div>
    <input type="submit" class="submit" value="提交" style="margin-left: 174px;" id="su" />
    </form>
</div>
</body>
</html>
<script type="text/javascript">
    /**
     * /选择客户分组判断是否为中间商客户
     * 
     */
    $(document).on('change','#contracttype',function(){
        $('#xu').empty()
    })
   
    

    $(document).on('blur','#customername',function(){

        setTimeout("$('#mername').empty()",300);
    })
    // 渠道商select选择
    $(document).on('keyup','#middleman',function(){
        var middleman = $(this).val();
        // alert(middleman);
        var data = {'middleman':middleman}
        $.ajax({
           type: "POST",
           url: "__APP__/Client/clientadd_ajax",
           data: data,
           dataType:'json',
           success: function(msg){
            // alert(msg);
                var html='<div class="unkwn">';
                // console.log(msg);
                if(msg=="")
                {
                    $('#quao').remove();
                }else
                {
                    $(msg).each(function(i){
                        html+="<p class='midd' idna='"+msg[i]['middle_man']+"' ids='"+msg[i]['id']+"'>"+msg[i]['middle_name']+"</p>";
                    });
                    $('#quao').empty().append(html);
                }
                html+='</div>'
            }
        });
    })
    $(document).on('click','.midd',function(){
        var middleman = $(this).html();
        var middleid = $(this).attr('ids');
        var middlename = $(this).attr('idna');
        $('#middleman').val(middleman);
        $('#middelid').val(middleid);
        $('#middlename').val(middlename);
        $('#quao').empty();

    })

    
    
</script>
