<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>账户管理</title>
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/Public.js"></script>
<script type="text/javascript" src="__JS__/winpop.js"></script>
<!-- 日期插件 -->
<link rel="stylesheet" type="text/css" href="__CSS__/calendar.css"/>
<script type="text/javascript" src="__JS__/calendar.js"></script>
<script type="text/javascript" src="__JS__/page.js"></script>
<style type="text/css">
	#dayStatic{float: left;margin-right: 10px;}
	#dayStatic .button{border: 0;padding: 10px 10px;background-color: #7ed321;color: white;font-size: 14px;cursor:pointer;margin-left: 0px;}
	#dayStatic .button:hover{background:#66ad1a;}
	.tab_select {border: 1px solid #e6e6e6;border-radius: 2px;-webkit-appearance: none;-moz-appearance: none;
    padding-left: 10px;font-size: 14px;}
</style>
</head>
<body>
<div id="content">
	<h1>首页 > 财务管理 > 支出管理</h1>
    <h2>
    	<div class="h2_left">
            <a href="__APP__/Expend/expend_add" class="add">新增</a>
            <a href="javascript:history.back();" class="Retreat">后退</a>
        </div>
    </h2>
    <div style="margin: 10px 0 10px 0;overflow: hidden;" class="input_box">
        <div>
        	<!--银行流水统计表-->
	        <form action="/?s=Home/Finance/dayStatic" method="post" id="dayStatic">
	            <input type="text" value="" class="qtext" name="starttime" id="starttime2" style="width: 128px;" placeholder="开始时间"><div id="sdd2" style="left: 46px;top: 228px;"></div>&nbsp;～
	            <input type="text" value="" class="qtext" name="endtime" id="endtime2" style="width: 128px;" placeholder="结束时间"><div id="edd2" style="left: 205px;top: 228px;"></div>&nbsp;
	            <select class=" tab_select" style="width: 352px;height: 40px;">
	            	<option>请选择银行账户</option>
	            	<option>工行1</option>
	            	<option>农业银行</option>
	            	<option>支付宝</option>
	            </select>
	            <input type="submit" value="银行流水统计" class="button">
	            <input type="submit" value="支出台账" class="button">
	        </form>
	        <div style="clear:both"></div>
        </div>
        

    </div>

    <div class="tableBox tableBox2">
	   	<table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="width:100%;">
	    	<tr>
	        	<th>公司</th>
	            <th>一级科目</th>
	            <th>二级科目</th>
	            <th>金额</th>
	            <th>支出账户</th>
	            <th>支出日期</th>
	            <th>申请人</th>
	            <th>审核进度</th>
	            <th>操作</th>
	        </tr>
	        <volist name="data" id="li">
		        <tr class="tr" value="1">
		            <td class="tc">{$li.company}</td>
		            <td class="tc">{$li.firststep}</td>
		            <td class="tc">{$li.detail}</td>
		            <td class="tc">{$li.money}</td>
		            <td class="tc">{$li.name}</td>
		            <td class="tc">{$li.deteofcollect|date="Y-m-d",###}</td>
		            <td class="tc">{$li.real_name}</td>
		            <td class="tc">无</td>
		            <td class="tc fixed_w">
		            	<div class="operation">更多
		            		<div class="operarea">
					            <a href="__APP__/Expend/expend_save/id/{$li.id}" class="see oper2">查看</a>
					            <a href="__APP__/Expend/expend_save/id/{$li.id}" class="edit oper2">修改</a>
					            <a href="__APP__/Expend/expend_del/id/{$li.id}" class="del2 oper2">删除</a>
				            </div>
				        </div>
		            </td>
		        </tr>
	        </volist>
	    </table>
    </div>
</div>
<script type="text/javascript">
	$().ready(function(){
		var wheight=document.documentElement.clientHeight;
		var sheight=$('.tableBox').offset().top;
		console.log(sheight)
		$('.tableBox').css('height',wheight-sheight-20);
	})
</script>
</body>
</html>
